.intro-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.intro-card {
  background-color: #542d00;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.intro-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff; /* Dark brown */
  margin-bottom: 1.5rem;
}

.intro-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.intro-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.admin-button {
  background-color: #9e8470; /* Coffee brown */
}

.admin-button:hover {
  background-color: #714c2f;
}

.staff-button {
  background-color: #6e3204; /* Light brown */
}

.staff-button:hover {
  background-color: #916842;
}
